<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<center>
		<h1>Formulario</h1>
		<form action = "#" th:action = "@{/form}" th:object = "${person}" method = "post">
			Nombre: <input type = "text" th:field = "*{nombre}"><br><br>
			Apellidos: <input type = "text" th:field = "*{apellidos}"><br><br>
			Teléfono: <input type = "text" th:field = "*{telefono}"><br><br>
			Correo: <input type = "text" th:field = "*{correo}"><br><br>
			<input type = "submit" value = "Submit">
		</form>
	</center>
</body>
</html>